# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyAna5MabetiJyzvcSraUz_ipeSvNx3HZO8"
VITE_FIREBASE_AUTH_DOMAIN="estimate-analyzer-ca4c6.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="estimate-analyzer-ca4c6"
VITE_FIREBASE_STORAGE_BUCKET="estimate-analyzer-ca4c6.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1056245930643"
VITE_FIREBASE_APP_ID="1:1056245930643:web:852b4fe9ae4ffe45774b66"
VITE_FIREBASE_MEASUREMENT_ID="G-JW75K1VH7Q"

# Google Sheets Integration
VITE_GOOGLE_SHEETS_ID=your-google-sheets-id
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyQvtE4oKwh_GhkDDPhJFjJhQbE7DaTr8HjxQhs-dqadcYs18EcEBNl4M6b0ExRGMNrKw/exec
